In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor

In [3]:
df_raw = pd.read_csv("/Users/naomi/Desktop/EM/MachineLearning/ml-project/data/health_analysis.csv")

In [4]:
df_raw

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,Male,45,175,80,92.1,1.5,1.5,1.0,1.0,114.0,...,125.0,132.0,15.0,1.0,1.0,26.0,36.0,27.0,1.0,N
991342,Male,35,170,75,86.0,1.0,1.5,1.0,1.0,119.0,...,84.0,45.0,15.8,1.0,1.1,14.0,17.0,15.0,1.0,N
991343,Female,40,155,50,68.0,1.0,0.7,1.0,1.0,110.0,...,77.0,157.0,14.3,1.0,0.8,30.0,27.0,17.0,3.0,Y
991344,Male,25,175,60,72.0,1.5,1.0,1.0,1.0,119.0,...,73.0,53.0,14.5,1.0,0.8,21.0,14.0,17.0,1.0,N
991345,Male,50,160,70,90.5,1.0,1.5,1.0,1.0,133.0,...,153.0,163.0,15.8,1.0,0.9,24.0,43.0,36.0,3.0,Y

In [5]:
df_raw.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sex,991346,2,Male,526415,NaN,NaN,NaN,NaN,NaN,NaN,NaN
age,991346.0,NaN,NaN,NaN,47.614491,14.181339,20.0,35.0,45.0,60.0,85.0
height,991346.0,NaN,NaN,NaN,162.240625,9.282957,130.0,155.0,160.0,170.0,190.0
weight,991346.0,NaN,NaN,NaN,63.28405,12.514241,25.0,55.0,60.0,70.0,140.0
waistline,991346.0,NaN,NaN,NaN,81.233358,11.850323,8.0,74.1,81.0,87.8,999.0
sight_left,991346.0,NaN,NaN,NaN,0.980834,0.605949,0.1,0.7,1.0,1.2,9.9
sight_right,991346.0,NaN,NaN,NaN,0.978429,0.604774,0.1,0.7,1.0,1.2,9.9
hear_left,991346.0,NaN,NaN,NaN,1.031495,0.17465,1.0,1.0,1.0,1.0,2.0
hear_right,991346.0,NaN,NaN,NaN,1.030476,0.171892,1.0,1.0,1.0,1.0,2.0
SBP,991346.0,NaN,NaN,NaN,122.432498,14.543148,67.0,112.0,120.0,131.0,273.0
DBP,991346.0,NaN,NaN,NaN,76.052627,9.889365,32.0,70.0,76.0,82.0,185.0
BLDS,991346.0,NaN,NaN,NaN,100.424447,24.17996,25.0,88.0,96.0,105.0,852.0
tot_chole,991346.0,NaN,NaN,NaN,195.55702,38.660155,30.0,169.0,193.0,219.0,2344.0
HDL_chole,991346.0,NaN,NaN,NaN,56.9368,17.238479,1.0,46.0,55.0,66.0,8110.0
LDL_chole,991346.0,NaN,NaN,NaN,113.037692,35.842812,1.0,89.0,111.0,135.0,5119.0
triglyceride,991346.0,NaN,NaN,NaN,132.141751,102.196985,1.0,73.0,106.0,159.0,9490.0
hemoglobin,991346.0,NaN,NaN,NaN,14.229824,1.584929,1.0,13.2,14.3,15.4,25.0
urine_protein,991346.0,NaN,NaN,NaN,1.094224,0.437724,1.0,1.0,1.0,1.0,6.0
serum_creatinine,991346.0,NaN,NaN,NaN,0.860467,0.48053,0.1,0.7,0.8,1.0,98.0
SGOT_AST,991346.0,NaN,NaN,NaN,25.989308,23.493386,1.0,19.0,23.0,28.0,9999.0
SGOT_ALT,991346.0,NaN,NaN,NaN,25.755051,26.308599,1.0,15.0,20.0,29.0,7210.0
gamma_GTP,991346.0,NaN,NaN,NaN,37.136347,50.424153,1.0,16.0,23.0,39.0,999.0
SMK_stat_type_cd,991346.0,NaN,NaN,NaN,1.608122,0.818507,1.0,1.0,1.0,2.0,3.0
DRK_YN,991346,2,N,495858,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The dataset seems to be clean already, we will now proceed to the first model tests.

We will convert the categorical values into binary values for model training. This concerns the columns, DRK_YN and Sex

In [6]:
sex_df = pd.get_dummies(df_raw, columns=['sex'], drop_first=True)

In [7]:
sex_df.insert(0, "gender", sex_df["sex_Male"])

In [8]:
sex_df = sex_df.drop("sex_Male", axis=1)

In [9]:
clean_df = pd.get_dummies(sex_df, columns=['DRK_YN'], drop_first=True)

In [10]:
df = clean_df.rename(columns={"DRK_YN_Y": "drinker"})

In [11]:
df = df.rename(columns={"SMK_stat_type_cd": "smoker"})

In [12]:
df.smoker = df.smoker.astype(int)
df.drinker = df.drinker.astype(int)

In [13]:
df

,gender,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,smoker,drinker
0,True,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1,1
1,True,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3,0
2,True,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1,0
3,True,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1,0
4,True,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991341,True,45,175,80,92.1,1.5,1.5,1.0,1.0,114.0,...,125.0,132.0,15.0,1.0,1.0,26.0,36.0,27.0,1,0
991342,True,35,170,75,86.0,1.0,1.5,1.0,1.0,119.0,...,84.0,45.0,15.8,1.0,1.1,14.0,17.0,15.0,1,0
991343,False,40,155,50,68.0,1.0,0.7,1.0,1.0,110.0,...,77.0,157.0,14.3,1.0,0.8,30.0,27.0,17.0,3,1
991344,True,25,175,60,72.0,1.5,1.0,1.0,1.0,119.0,...,73.0,53.0,14.5,1.0,0.8,21.0,14.0,17.0,1,0
991345,True,50,160,70,90.5,1.0,1.5,1.0,1.0,133.0,...,153.0,163.0,15.8,1.0,0.9,24.0,43.0,36.0,3,1

drinker: 
- O is a non-drinker
- 1 is a drinker
  
smoker:
- 1 is a non-smoker
- 2 is a smoker who quit
- 3 is still a smoker

In [14]:
df.to_csv('/Users/naomi/Desktop/EM/MachineLearning/ml-project/data/clean_health.csv', index = False)